// Nextflow configuration file for local execution
// This file is used to configure the Nextflow pipeline for running on a local machine.
// It is recommended to use this configuration file for testing and debugging purposes.
executor {
    name = 'local'
}
wave {
    enabled = true
    strategy = ['conda']
}
conda {
    enabled = true
}
dag {
    enabled = true
}
process {
    executor = 'local'
}
